.media {
    display: flex;
    flex-direction: row;
}

.home-title {
    width: 25px;
    height: 100px;
    color: #121010;
}
.video {
    width: 100%;
    height: 100%;
    background-color: #000000;
}